header {
	width: 100%;
	background: #1c1c1c;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

header > p {
	color: #ddd;
	padding: 10px;
	font-size: 1.5rem;
	user-select: none;
}

header > nav {
	display: flex;
	flex-direction: row;
	margin: 0px 10px 0px 10px;
}

header > nav > a{
	color: #ddd;
	background: #4a4a4a;
	border-radius: 4px;
	padding: 8px;
	margin-left: 10px;
	transition: all 0.4s;
}

header > nav > a:hover {
	background: #3a3a3a;
}
